.GButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 22px;
    font-family: 'Space Grotesk';
    font-weight: 400;
    text-align: center;
    word-wrap: break-word;
    cursor: pointer;
    width: 30rem;
    /* height: 2rem; */
    padding: 0.5rem;
    border: 1px solid #EA4335;
    background: linear-gradient(black, black) padding-box,
        linear-gradient(to right, #FBDA61, #FF5ACD) border-box;
    border-radius: 50em;
    border: 1px solid transparent;
    transition: background-image 0.3s ease-in-out;
}

.GButton:hover {
    transition: all 0.3s ease-in-out;
    background: linear-gradient(to right, #FBDA61, #FF5ACD);

}